/*Fælles tekst */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5d2b7;
}

/*footer*/
footer {
  margin-top: 10%;
  background-color: #a37c53;
  height: 300px;
}

.footer_grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.p_footer {
  padding-top: 20px;
}

h1 {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 100px;
  color: #472d16;
}

h2 {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  color: #472d16;
}

h3 {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 90px;
  color: #472d16;
  text-align: center;
}

a {
  color: #472d16;
}
