/*Forside-billede*/

.forsidetop {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*baggrunds-farve*/

body {
  background-color: #e5d2b7;
}

/*venstre kasse*/

.forside-box-venstre {
  width: 300px;
  background-color: #a37c53;
  padding: 50px;
  margin: 20px;
  border-radius: 95px;
}
