header {
  display: flex;
  grid-template-columns: 2fr 3fr;
  background-color: #a37c53;
  padding-top: 20px;
  position: sticky;
  height: 170px;
  top: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.168);
  padding: 25px 50px;
  align-items: center;
  z-index: 1000;
  justify-content: center;
}

.logo img {
  width: 170px;
  height: auto;
  text-align: center;
}

.menu_tekst {
  list-style-type: none;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #472d16;
}

/*************************************/

.proces_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*************************************/

.proces_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #472d16;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 200%;
  margin: 10%;
}

.pcbillede1 {
  border-radius: 90px;
  margin: 10%;
}

.pcbillede2 {
  border-radius: 90px;
  margin: 10%;
}

.linktilpc {
  font-family: "cofo-glassier", sans-serif;
  font-style: bold;
  font-size: 60px;
  color: #472d16;
  text-align: center;
  margin-top: 10px;
}

.læring_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #472d16;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 200%;
  margin: 10%;
}

.pcbillede3 {
  border-radius: 90px;
  margin: 10%;
}
