header {
  display: flex;
  grid-template-columns: 2fr 3fr;
  background-color: #a37c53;
  position: sticky;
  height: 10rem;
  top: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.168);
  padding: 5rem 5rem;
  align-items: center;
  z-index: 1000;
  justify-content: center;
}

.logo img {
  width: 10rem;
  height: auto;
  text-align: center;
}

.menu_tekst {
  list-style-type: none;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  color: #472d16;
  text-decoration: none;
}

.menu_tekst:hover {
  text-decoration: underline #472d16;
}

/*************************************/

.proces_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

/*************************************/

.procesheader {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 3rem;
  color: #472d16;
  text-align: center;
  letter-spacing: 0.5rem;
  text-decoration: underline;
}

.proces_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  color: #472d16;
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 200%;
  margin: 10%;
}

.billede1 {
  width: 80%;
  height: auto;
  border-radius: 10%;
  margin: 10%;
}

.billede2 {
  width: 80%;
  height: auto;
  border-radius: 10%;
  margin: 10%;
}

.billede3 {
  width: 80%;
  height: auto;
  border-radius: 10%;
  margin: 10%;
}

.linktil {
  font-family: "cofo-glassier", sans-serif;
  font-size: 3rem;
  color: #472d16;
  text-align: center;
  margin-top: 20%;
}

.linktil:hover {
  text-decoration: underline #472d16;
}

.læring_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  color: #472d16;
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 200%;
  margin: 10%;
}
