header {
  display: flex;
  grid-template-columns: 2fr 3fr;
  background-color: #a37c53;
  padding-top: 20px;
  position: sticky;
  height: 170px;
  top: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.168);
  padding: 25px 50px;
  align-items: center;
  z-index: 1000;
  justify-content: center;
}

.logo img {
  width: 170px;
  height: auto;
  text-align: center;
}

.menu_tekst {
  list-style-type: none;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #472d16;
  text-decoration: none;
}

.menu_tekst:hover {
  text-decoration: underline #472d16;
}
/*****************grid*************************/

.ommig_top {
  background-image: url(./ommigbilleder/ommigside.save1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: fill;
}

.ommig_nedre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10%;
}

/*venstre kasse*/

.ommig-box-venstre {
  width: 100%;
  background-color: #472d16;
  border-radius: 10%;
  height: 50%;
  justify-self: center;
  grid-column: 1;
  margin-left: 50%;
}

.erfaring_overskrift {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 5rem;
  color: #a37c53;
  text-align: center;
}

.erfaring_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 3rem;
  color: #a37c53;
  text-align: center;
  margin-top: 10%;
  padding: 10%;
}
/*Højre kasse*/

.ommig-box-højre {
  width: 40rem;
  height: auto;
  background-color: #a37c53;
  border-radius: 2rem;
  justify-self: center;
  grid-column: 3;
  margin-right: 30%;
}

.semester_overskrift {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 5rem;
  color: #472d16;
  text-align: center;
}

.semester_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #472d16;
  text-align: justify;
  padding: 10%;
}
