header {
  display: flex;
  grid-template-columns: 2fr 3fr;
  background-color: #a37c53;
  padding-top: 20px;
  position: sticky;
  height: 170px;
  top: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.168);
  padding: 25px 50px;
  align-items: center;
  z-index: 1000;
  justify-content: center;
}

.logo img {
  width: 170px;
  height: auto;
  text-align: center;
}

.menu_tekst {
  list-style-type: none;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 40px;
  color: #472d16;
  text-decoration: none;
}

.menu_tekst:hover {
  text-decoration: underline;
}

/**************************/

.projekter_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/*************************************************/

.projekter_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 100px;
  color: #472d16;
  text-align: center;
}

/*************************************************/

.minpcboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.boks_tekst {
  color: #e5d2b7;
  font-size: 5rem;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.boks_tekst:hover {
  text-decoration: underline #e5d2b7;
}

/************************************************/

.traveldiariesboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

/************************************************/

.plantoriumboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

/************************************************/

.friihofboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.box {
  position: relative;
}
