.projekter_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10rem;
  column-gap: 2rem;
}

.udenom_projekter_grid {
  margin-top: 8rem;
  padding-inline: 6rem;
}
/*************************************************/

.minpcboks {
  height: 200px;
  width: auto;
  object-fit: cover;
  justify-content: center;
}

/************************************************/

.traveldiariesboks {
  height: 200px;
  width: auto;
}

/************************************************/

.plantoriumboks {
  height: 200px;
  width: auto;
}

/************************************************/

.friihofboks {
  height: 200px;
  width: auto;
}
