header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #a37c53;
  height: 150px;
  padding-top: 20px;
}

.projekter_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/*************************************************/

.projekter_tekst {
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  font-size: 100px;
  color: #472d16;
  text-align: center;
}

/*************************************************/

.minpcboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.minpc_boks_tekst {
  color: #e5d2b7;
  font-size: 100px;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  position: relative;
  text-align: center;
}

/************************************************/

.traveldiariesboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.travel_boks_tekst {
  color: #e5d2b7;
  font-size: 100px;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  position: relative;
  text-align: center;
}

/************************************************/

.plantoriumboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.plante_boks_tekst {
  color: #e5d2b7;
  font-size: 100px;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  position: relative;
  text-align: center;
}

/************************************************/

.friihofboks {
  height: 50%;
  width: auto;
  border-radius: 80px;
  display: block;
  position: relative;
  overflow: hidden;
}

.friihof_boks_tekst {
  color: #e5d2b7;
  font-size: 100px;
  font-family: "cofo-glassier", sans-serif;
  font-style: normal;
  position: relative;
  text-align: center;
}
